/* * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
} */

@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@700&display=swap");

header nav{
/* margin-top: 20px; */
}

.Navbar li {
  display: inline;
  padding: 0px 20px;
  font-family: Prompt;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 22px;
}

.Navbar a {
  color: white;
  text-decoration: none;
}

.Navbar {
  width: 80%;
  height: 100%;
  /* left: 178px; */
  /* margin-top: 33px; */
  margin-left: 10%;
  margin-right: 10%;

  background: #00641b;
  border-radius: 4px;
  color: white;
  text-align: center;
}

.Navbar ul{
  padding: 4.7vh 5vh;
}

.Navbar div{
  /* margin: 41px ; */
}
/* iphone */
@media only screen 
  /* and (min-device-width: 320px)  */
  and (min-device-width: 375px)
  and (max-device-width: 767px) 
  and (-webkit-min-device-pixel-ratio: 2) {
    .Navbar li {
      font-size: 14px;
      padding: 0px 16px;  
    }

    .Navbar ul{
      padding: 0.5vh 2.5vh;
    }
    
    .Navbar {
      width: 95%;
      height: 48px;
      margin-left: 2.5%;
      margin-right: 2.5%;
    }
}

/* ipad */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1303px) 
  and (-webkit-min-device-pixel-ratio: 1) {
    .Navbar li {
      font-size: 14px;
      padding: 0px 16px;  
    }

    .Navbar ul{
      padding: 1.5vh 2.5vh;
    }
    
    .Navbar {
      width: 95%;
      height: 48px;
      margin-left: 2.5%;
      margin-right: 2.5%;
    }
}

/* desktop */
@media screen 
  and (min-device-width: 1304px) 
  /* and (max-device-width: 1600px)  */
  and (-webkit-min-device-pixel-ratio: 1) { 
 
}