/* * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
} */

@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@700&display=swap");

.footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  background: linear-gradient(
    323.02deg,
    #0da637 30.92%,
    #36b349 54.46%,
    #8dcd6e 97.7%
  );
  box-shadow: 0px -10px 25px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.rowCenter {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
}

.rowCenter img {
  display: block;
  height: 61px;
  margin: 15px 19px;
}

.pFooter {

  padding-top: 49px;
  padding-bottom: 25px;

  font-family: Prompt;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 22px;

  color: #424242;
}

.logoPortrait1 {
  height: 88px !important;
  width: 72px !important;
}

.logoPortrait2 {
  height: 88px !important;
  width: 88px !important;
}

.organizeLogo img {
  /* height: 64px; */
  width: 290px;
  margin-top: 30px;
  margin-bottom: 50px;
}

/* iphone */
@media screen and 
(min-device-width: 320px) 
and (max-device-width: 767px) 
and (-webkit-device-pixel-ratio: 2) {
  .pFooter {
    padding-top: 30px;
    padding-bottom: 10px;
    font-size: 14px;
  }

  .rowCenter {
    width: 95%;
    margin-left: 2.5%;
    margin-right: 2.5%;
  }

  .rowCenter img {
    height: 42px;
    margin: 10px 6px;
  }

  .organizeLogo img {
    /* height: 40.95px; */
    width: 200px;
    margin-top: 10px;
    margin-bottom: 30px;
  }

  .logoPortrait1 {
    height: 60.68px !important;
    width: 49.65px !important;
  }

  .logoPortrait2 {
    height: 60.68px !important;
    width: 60.68px !important;
  }
}

/* ipad */
@media screen and (min-device-width: 768px) and (max-device-width: 1303px) and (-webkit-min-device-pixel-ratio: 1) {
  .pFooter {
    padding-top: 29px;
    padding-bottom: 20px;
    font-size: 14px;
  }

  .rowCenter {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
  }
  
  .rowCenter img {
    height: 40px;
    margin: 9px 5px;
  }

  .organizeLogo img {
    /* height: 45px; */
    width: 190px;
    margin-top: 20px;
    margin-bottom: 15px;
  }

  .logoPortrait1 {
    height: 57.19px !important;
    width: 46.79px !important;
  }

  .logoPortrait2 {
    height: 57.19px !important;
    width: 57.19px !important;
  }
}

/* Desktop */
@media screen and (min-device-width: 1304px) and (-webkit-min-device-pixel-ratio: 1) {
  /* div.example {
      font-size: 30px;
    } */
}
